{% extends "base.html" %}
{% load static %}
{%block titre%}{{ request.user.username }} {{ request.user.email }} - Ajouter Etudiant - Dashboard {%endblock titre %}
{%block style %}
{%endblock style %}
{% block Content %}
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Affecter Etudiant</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12" style="display: none;">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="plugins/images/large/img1.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="plugins/images/users/genu.jpg"
                                                class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white mt-2">User Name</h4>
                                        <h5 class="text-white mt-2">info@myadmin.com</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box mt-5 d-md-flex">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>258</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>125</h1>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>556</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" action="{% url 'create_etudiant' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Entreprises</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <select class="form-control p-0 border-0" name="entreprise" >
                                                <option value="0">-------</option>
                                                {% for entreprise in entreprises %}
                                                    <option value="{{ entreprise.id }}">{{ entreprise.nom }} - {{ entreprise.status }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Matricule</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Matricule de l'étudiant"
                                                class="form-control p-0 border-0" name="matricule">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Nom</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Nom de l'étudiant"
                                                class="form-control p-0 border-0" name="nom">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Prénom</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Prénom de l'étudiant"
                                                class="form-control p-0 border-0" name="prenom">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Université</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <select class="form-control p-0 border-0" name="universite"  id="id-du-select_universite" onchange="getFaculties()">
                                                <option value="0">-------</option>
                                                {% for universite in universites %}
                                                    <option value="{{ universite.id }}">{{ universite.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Promotion</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Promotion de l'étudiant"
                                                class="form-control p-0 border-0" name="promotion">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">faculte</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <select class="form-control p-0 border-0" name="faculte" id="faculte">
                                                    <option value="0">-------</option>
                                            </select>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Filière</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Filière de l'étudiant"
                                        class="form-control p-0 border-0" name="filiere">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Créer l'étudiant</button>
                                        </div>
                                    </div>
                                </form>
                                {% if message %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
                    href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
     <script>
        // faculties_ajax.js

// Function to retrieve faculties
function getFaculties() {
   const select = document.getElementById('id-du-select_universite');
   const id = select.options[select.selectedIndex].value;
   alert(id)
  fetch(`/dashboard/api/faculties?q=${id}`)
    .then(response => response.json())
    .then(data => {
      const facultiesSelect = document.getElementById('faculte');
      facultiesSelect.innerHTML = '';
      data.forEach(faculty => {
        const option = document.createElement('option');
        option.value = faculty.id;
        option.text = faculty.nom;
        facultiesSelect.appendChild(option);
      });
    })
    .catch(error => console.error('Error:', error));
}

// Call the function when the page loads
//document.addEventListener('DOMContentLoaded', getFaculties);
     </script>
{% endblock Content %}